@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "GreycliffCF-Medium";
    src: url("/fonts/GreycliffCF-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "GreycliffCF-Heavy";
    src: url("/fonts/GreycliffCF-Heavy.otf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "GreycliffCF-Bold";
    src: url("/fonts/GreycliffCF-Bold.otf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "GreycliffCF-Regular";
    src: url("/fonts/GreycliffCF-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }

  body {
    background: #020617;
  }

  #reactgooglegraph-1 > div > div:nth-child(1) > div > svg > rect {
    fill: none!important;
  }
}

